<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="../static/index2.css">
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@4.6.0/dist/socket.io.min.js"></script>
    <script src="../static/script.js"></script>
</head>
<body>
    <br>
    <h1 class="main-title">RLHF Agent Training</h1>
    <br>
    <div class="explanation">
        <p>
            <b>
            Below you see two different videos used to train a RLHF agent.<br>
            Please carefully compare the agents' behaviors and select the agent with the better performance.<br>
            If the behavior appears too similar, choose "Neutral".<br>
        </p>
    </div>

    <br><br><br><br><br><br>

    <div class="comparisonContainer">
        <button class="mainOptions" onclick="setPreference(1)">
            <div  id="mainOption1">
                <br>
                <h1>Agent 1</h1>
                <br><br>
                  <video id="video1" width="320" height="240" controls></video>
                <br><br><br><br>
            </div>
            <div class="loader" id="loader1"></div>
        </button>

        <button class="mainOptions" onclick="setPreference(0)">
            <div id="mainOption2">
                <br>
                <h1>Agent 2</h1>
                <br><br>
                  <video id="video2" width="320" height="240" controls></video>
                <br><br><br><br>
            </div>
            <div class="loader" id="loader2"></div>
        </button>
    </div>

    <br><br><br><br><br>

    <button class="neutralOption" id="neutralOption" onclick="setPreference()">
        <h3>Neutral</h3>
    </button>

    <div id="status"></div>

    <br><br><br><br>
    <hr>

    <div class="sentence-container">
        <div class="sentence">Softwareentwicklungspraktikum</div>
        <div class="sentence">
        </div>
        <div class="sentence">Group B</div>
    </div>
</body>
</html>
