<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent Training</title>
    <!-- External CSS file for styling -->
    <link rel="stylesheet" href="../static/index2.css">
    <!-- Socket.IO for real-time communication -->
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@4.6.0/dist/socket.io.min.js"></script>
    <!-- External JavaScript file for functionality -->
    <script src="../static/script.js"></script>
</head>
<body>
    <!-- Modal showing the rules -->
    <div class="explanationModal" id="explanationModal">
        <div>
            <!-- Modal close button -->
            <button class="modalCloseButton" id="modalCloseButton">x</button>
            <h1>RLHF Agent Training</h1>
            <p>
                <br>
                On this website, you see two different videos used to train a RLHF agent<br>
                Please carefully compare the agents' behaviors.<br>
                Subsequently, select the agent with the better performance.<br>
                If the behavior appears too similar, choose "Neutral".<br>
                <br>
            </p>
        </div>
    </div>

     <!-- Modal showing the final video
     <div class="finalVideoModal" id="finalVideoModal">
        <div>
            <h3>Thank you for taking part in the RLHF Agent training <br>
                Below you can see the final Agent </h3>
            <br>
            <br>
            <div class="videoContainer">
                <video class="videoElement" id="finalVideo" controls autoplay></video>
            </div>
        </div>
     <div>
    -->

    <!-- Main content -->
    <div class="mainContent" id="mainContent">
        <br>
        <!-- Title container with explanation button -->
        <div class="titleExplanationContainer">
            <h1 class="title">RLHF Agent Training</h1>
            <button class="explanationButton" id="explanationButton" onclick="displayExplanationModal()">  Explanation  </button>
        </div>
        <br>
        <br>
        <!-- Container for notifying user about current status -->
        <div class="statusContainer" id="status"></div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- Container to compare the agents -->
        <div class="agentsContainer">
            <!-- Button to choose first agent -->
            <button class="agentOptions" onclick="setPreference(1)">
                <div id="agentOption1">
                    <br>
                    <h1>Agent 1</h1>
                    <br>
                    <br>
                    <div class="videoContainer">
                    <!-- Video of the first agent -->
                        <video class="videoElement" id="video1" controls autoplay></video>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <!-- Loader for first agent -->
                <div class="loader1" id="loader1"></div>
            </button>
            <!-- Button to choose second agent -->
            <button class="agentOptions" onclick="setPreference(0)">
                <div id="agentOption2">
                    <br>
                    <h1>Agent 2</h1>
                    <br>
                    <br>
                    <div class="videoContainer">
                    <!-- Video of the second agent -->
                        <video class="videoElement" id="video2" controls autoplay></video>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <!-- Loader for second agent -->
                <div class="loader2" id="loader2"></div>
            </button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- Button to choose neutral option  -->
        <button class="neutralOption" id="neutralOption" onclick="setPreference(0.5)">
            <h3>Neutral</h3>
        </button>
        <br>
        <br>
        <br>
        <br>
        <!-- Footer section with group information, seperated by a horizontal line from main content -->
        <hr class="footer-line">
        <div class="groupInformationContainer">
            <div class="groupInformation">Softwareentwicklungspraktikum</div>
            <div class="groupInformation">
                Aleksandar Mijatovic, Martin Plank, Thang Long Nguyen<br>
                Tobias Huber & Yusuf Malik Durmus
            </div>
            <div class="groupInformation">Group B</div>
        </div>
    </div>
</body>
</html>

